* {
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    background-color: #1c1d1a;
    margin: 0;
    background-image: url(../images/brbd.jpg);
    /* background-image: url(../images/breaking-bad-walter-white.jpg); */
    /* background-image: url(../images/walt_gus.webp); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.nvm {
    display: none;
}

button {
    outline: none;
    border: none;

    border-radius: 2px;
    background-color: #202020;
    color: rgb(235, 235, 235);
    flex: 1;
    padding: 10px;

    font-weight: 900;
}

.play_button {
    padding: 40px;
    font-size: 24px;
    border: 2px solid rgb(248, 198, 61);
}

button:not(.selected):hover  {
    background-color: #9fdee4;
    color: #252524;
    cursor: pointer;
}

button.play_button:hover {
    color: rgb(235, 235, 235);
    background-color: rgb(248, 198, 61);
    color: #252524;
}

button.selected {
    background-color: #9fdee4;
    color: #252524;
    cursor: pointer;
}

img {
    position: absolute;
    top: 160px;
}

.content-container {
    position: relative;
    background-color: #1c1d1a38;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
}

.ui_card {
    position: relative;
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background-color: #252524;
    padding: 20px;
    border-radius: 10px;
}

.size_buttons, .gamemode_buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

span {
    display: block;
    color: rgb(235, 235, 235);
    font-size: 20px;
    font-weight: 600;
}

.buttons_container > span {
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

/* ============== fenetre regles ==========================*/
/* Styles pour le bouton */
#reglesBtn{
    

}

#reglesBtn:hover {
    
}

/* Styles pour la fenêtre modale */
.modal {
    display: none; /* Masquer la fenêtre modale par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    background-color: #0892A5;
    border-radius: 10px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.regles-content{
    float: left;
    width: 50%;
}

.exemple{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 15%;
    padding-top: 3%;
}

.gif{
    width: 100%;
    height: 100%;
    background-image: url(../images/HexGif.gif);
    background-repeat: no-repeat;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.blue-line {
    width: 20px;
    height: 260px;
    background-color: #2f2fbd;
    border-radius: 10px;
}